
.form {
    padding: 20px;
}

.form > div {
    margin-left: 20px;
    margin-bottom: 20px;
}

input, select {
    margin-left: 10px;
}

button {
    margin-right: 10px;
}

p {
    margin: none;
    color: red;
}

table {
    border-collapse: collapse;
    text-align: left;
}

table th {
    font-weight: 400;
    background-color: darkgrey;
    width: 200px;
}

.trgrey {
    background-color: lightgrey;
}
